/* FONTS START "ROBOTO","OPEN SANS" , "POPPINS" START  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&family=Poppins:wght@400;500&family=Roboto&display=swap');
/* FONTS START "ROBOTO","OPEN SANS" , "POPPINS" END  */

/* GLOBAL STYLE START  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}


/* GLOBAL STYLE END */
